[Unit]
Description=PowerSeven profile: Forgejo
Requires=powerseven-core.target postgresql.service
After=powerseven-core.target postgresql.service powerseven-stop-all-optional.service
Conflicts=powerseven-profile-nextcloud.service powerseven-profile-stirling.service powerseven-profile-pterodactyl.service powerseven-profile-wazuh.service powerseven-profile-scribble.service powerseven-stop-all-optional.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/powerseven-profile forgejo start
ExecStartPost=/usr/local/libexec/powerseven-profile forgejo health
ExecStop=/usr/local/libexec/powerseven-profile forgejo stop
TimeoutStartSec=5min
TimeoutStopSec=2min

[Install]
WantedBy=multi-user.target
