[Unit]
Description=PowerSeven profile: Wazuh
Requires=powerseven-core.target filebeat.service wazuh-indexer.service wazuh-manager.service wazuh-dashboard.service
After=powerseven-core.target wazuh-indexer.service filebeat.service wazuh-manager.service wazuh-dashboard.service powerseven-stop-all-optional.service
Conflicts=powerseven-profile-pterodactyl.service powerseven-profile-scribble.service powerseven-stop-all-optional.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/powerseven-profile wazuh start
ExecStartPost=/usr/local/libexec/powerseven-profile wazuh health
ExecStop=/usr/local/libexec/powerseven-profile wazuh stop
TimeoutStartSec=8min
TimeoutStopSec=3min

[Install]
WantedBy=multi-user.target
