[Unit]
Description=PowerSeven profile: Scribble
Requires=powerseven-core.target
After=powerseven-core.target powerseven-stop-all-optional.service
Conflicts=powerseven-profile-nextcloud.service powerseven-profile-forgejo.service powerseven-profile-stirling.service powerseven-profile-pterodactyl.service powerseven-profile-wazuh.service powerseven-stop-all-optional.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/powerseven-profile scribble start
ExecStartPost=/usr/local/libexec/powerseven-profile scribble health
ExecStop=/usr/local/libexec/powerseven-profile scribble stop
TimeoutStartSec=5min
TimeoutStopSec=2min

[Install]
WantedBy=multi-user.target
