[Unit]
Description=PowerSeven application: Scribble instances
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/powerseven-controller scribble start
ExecStop=/usr/local/libexec/powerseven-controller scribble stop
TimeoutStartSec=120s
TimeoutStopSec=90s

[Install]
WantedBy=multi-user.target
