# Copy to a private, ignored .env before future deployment.
ADGUARD_IMAGE=REQUIRED_DECISION
NEXTCLOUD_IMAGE=REQUIRED_DECISION
FORGEJO_IMAGE=REQUIRED_DECISION
STIRLING_IMAGE=REQUIRED_DECISION
SCRIBBLE_IMAGE=REQUIRED_DECISION
REDIS_IMAGE=REQUIRED_DECISION
POSTGRES_HOST=192.168.214.14
POSTGRES_PORT=5432
POSTGRES_PASSWORD=<REQUIRED_SECRET>
MARIADB_HOST=192.168.214.14
MARIADB_PORT=3306
MARIADB_PASSWORD=<REQUIRED_SECRET>
NEXTCLOUD_DB_PASSWORD=<REQUIRED_SECRET>
FORGEJO_DB_PASSWORD=<REQUIRED_SECRET>
PTERODACTYL_APP_KEY=<REQUIRED_SECRET>
LDAP_BIND_PASSWORD=<REQUIRED_SECRET>
